.guessGrid {
    text-align: center;
}

.game {
    right: 50px;
    top: 50%;
    float: left;
}   

h2 {
    
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 100px;
}

p {
    font-size: 20px;
    color: red;
    padding-top: 20px;
}

.box {
    margin-left: 100px;
}